html, body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.h1 {
    font-family: Arial;

}

.h2 {
    font-family: Arial;
}

.titulo {
    display:block;
    width: 300px;
}

.container {
    display: block;
    width: 400px;
    height: 200px;
    margin-top: 116px;
    margin-left: 00px;
    align-items: center;
}

